@{
    ViewData["Title"] = "Home Page";
}


<div class="divContainer">
    <div class="col-md-4 divTable">
        <h3>Customers</h3>
        <p><a class="btn btn-default" asp-controller="Customers" asp-action="Index">See Customers &raquo;</a></p>
    </div>
    <div class="col-md-4 divTable">
        <h3>Products</h3>
        <p><a class="btn btn-default" asp-controller="Products" asp-action="Index">See Products &raquo;</a></p>
    </div>
    <div class="col-md-4 divTable">
        <h3>Orders</h3>
        <p><a class="btn btn-default" asp-controller="Orders" asp-action="Index">See orders &raquo;</a></p>
    </div>
</div>